<style>
    footer{
        display: flex;
        padding: 10px;
        flex-flow: row nowrap;
        background-color: bisque;
    }
    .col{
        flex: 1 1 33%;
        text-align: center;
    }
    .a {
        display: flex;
        flex-flow: column nowrap;
    }
    .b {
        display: flex;
        flex-flow: column nowrap;
    }
    .c {
        display: flex;
        flex-flow: column nowrap;
    }
</style>
<footer>
    <div class="col a">
        <a href="" class="link"> link </a>
        <a href="" class="link"> link </a>
        <a href="" class="link"> link </a>
        <a href="" class="link"> link </a>
    </div>
    <div class="col b">
        <a href="" class="link"> link </a>
        <a href="" class="link"> link </a>
        <a href="" class="link"> link </a>
        <a href="" class="link"> link </a>
    </div>
    <div class="col c">
        <a href="" class="link"> link </a>
        <a href="" class="link"> link </a>
        <a href="" class="link"> link </a>
        <a href="" class="link"> link </a>
    </div>
</footer>