<style>
    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;

    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
        box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.265);
        padding: 10px;
        background-color: azure;
        margin-bottom: 10px;
    }
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }
    a {
        text-decoration: none;
        border-radius: 5px;
        padding: 10px;
        color: black;
    }

    a:hover {
        font-weight: bold;
        background-color: black;
        color: wheat;
        transition: 0.4s;
    }
</style>

<header>
    <h1>LOGO</h1>
    <ul>
        <li><a href="#">Teste1</a></li>
        <li><a href="#">Teste2</a></li>
        <li><a href="#">Teste3</a></li>
        <li><a href="#">Teste4</a></li>
    </ul>
</header>